#root {
  width: 100%;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Prevent horizontal scroll */
html,
body {
  overflow-x: hidden;
}

.section-padding {
  padding: 60px 0;
}
